@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

.member-cover {
  background-color: '#666';
}

.member-cover:before {
  background-image: linear-gradient(to bottom, #fff, #333);
  content: "";
  display: block;
  height: 60vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.stats {
  $base-spacing: 1.5em !default;
  $dark-gray: #333 !default;
  $base-font-color: white !default;
  $action-color: white !default;
  $stats-color: lighten($action-color, 10%);

  padding: $base-spacing / 2;
  text-align: center;
  margin: 0 auto;
  ul {
    padding: 0;
  }

  li {
    border-right: 1px solid transparentize(gray, 0.8);
    color: white;
    display: inline;
    float: left;
    font-size: 1.2em;
    line-height: 1.1em;
    padding: 0 0.7em;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: 0;
    }
  }

  span {
    color: white;
    display: block;
    font-size: 0.7em;
    font-weight: normal;
  }
}
