@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

@import "navbar";
@import "feed";
@import "modal";

$mobile-width: 414px;
$tablet-width: 768px;
$desktop-width: 1024px;


@mixin mobile {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}


.template-active {
  border: 4px solid blue;
}

.viewer-container {

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  height: auto;
  padding: 0;
  // border: 5px solid black;
  width: auto;
  .viewer {
    @include mobile {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: auto;
    }
    @include tablet {
      width: 414px;
      height: 736px;
      padding: 0;
      margin: auto;
    }
    @include desktop {
      width: 414px;
      height: 736px;
      padding: 0;
      margin: auto;
    }

    background-color: white;
  }
}

.page-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}
.page {
  width: 100%;
  height: 100%;
}


.button-signup {
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 10px 16px;
  position: relative;

  img {
    height: 1.3em;
  }
}

.login-container {
  @include outer-container;
  color: white;
  .left-container {
    @include span-columns(6);
    height: 100vh;
    display: block;
  }
  .right-container {
    @include span-columns(6);
    padding: 20px;
  }
}


.signup-container {
  @include outer-container;
  color: white;
  .left-container {
    @include span-columns(6);
    height: 100vh;
    display: block;
  }
  .right-container {
    @include shift(3);
    @include span-columns(6);
    padding: 20px;
  }
}
