.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
.text-muted {
    margin: 20px 0;
}
.footer a {
    color: white;
    text-decoration: none;
}