.helpcard-card {
    margin-bottom: 35px;
    border-radius: 2px;
    padding: 30px 0px 30px 0px;
}

.helpcard-content {
    margin-top: 20px;
    padding-left: 20px;
    color: #a9a9a9;
    font-size: 15px;
}

.panel-title {
    font-size: 15px;
}

.helpcard-topic {
    padding-top: 25px;
    padding-bottom: 5px
}
.helpbox-card{
     margin-top: 100px;
}