
div.row.interest {
    margin-bottom: 10px;
}

.jumbotron.interest {
padding-top: 2rem;
padding-bottom: 1rem;
margin-bottom: 0;
background-color: #3B3B3B;
text-align: center!important;
color: white!important;
}

.jumbotron.interest p:last-child {
margin-bottom: 0;
}

.album.interest {
padding-top: 1rem;
padding-bottom: 1.5rem;
background-color: #3B3B3B;
}

.card.interest {
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 1rem;
float: left;
/*width: 33.333%;*/
/*padding: .75rem;*/
border: 0;
background-color: #3B3B3B;
}
