

.flex-container.one {
  display: flex;
  flex-direction: column;;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  width: 70%;
  height: auto;
  margin: 0 auto; /*move container to center*/
  background-color: #3B3B3B;
}

.flex-item.one {
  background-color: #3B3B3B;
  color: white;
}
.flex-item.two {
  background-color: #3B3B3B;
  color: white;
}


.flex-container.mycard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  width: 100%;
  height: auto;
  margin: 0 auto; /*move container to center*/
  background-color: #3B3B3B;
}


.flex-item.mycard {
    width: 200px;
    height: 186px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    position: relative;
    background-image: url(http://placehold.it/200x186);
}

.flex-container.inner-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  width: inherit;;
  height: inherit;
}


.flex-item.inner-card {

}



p span {
  color: #EEEEEE;
  display: block;
}
