.popup-box {
    background: darkgray;
    width: 350px;
    height: 360px;
    max-width: 350px;
    max-height: 360px;
}

.box-head {
    background: black;
    width: 350px;
    height: 60px;
    max-width: 350px;
    max-height: 60px;

    position: absolute;
    top: 0;
    left: 0;
}

.box-name {
    color: white;
    font-size: 20px;

    position: absolute;
    margin-top: 0.8em;
    margin-left: 0.5em;
}

.box-menu {
    position: absolute;
    right: 1em;
    top: 1em;
}

    .box-menu ul {
        margin: 0;
    }

        .box-menu ul li {
            display: inline-block;
            margin-left: 1em;
        }

.box-body {
    position: absolute;
    margin-top: 60px;
}