.menu ul
{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.menu li
{
    list-style: none;
}

.menu a
{
    display: block;
    color: white;
    background-color: dimgray;
    text-decoration: none;

    width: 350px;
    height: 50px;
    max-width: 350px;
    max-height: 50px;
}

.menu a:hover
{
    background-color: gray;
}

.bottom-underline
{
    border-bottom: 2px solid darkslategray;
}

.custom-icon 
{
    width: 30px;
    height: 30px;
    max-width: 30px;
    max-height: 30px;   

    margin-top: 10px;
    margin-left: 5px;
}

.menu-text
{
    display: inline-block;
    margin-left: 5px;
}