.noti-card {
    background: darkgray;
    border-bottom: 2px solid darkslategray;
    width: 350px;
    height: 75px;
    max-width: 350px;
    max-height: 75px;
}

.left-most {
    margin-top: -3em;
    margin-left: 0.5em;
    width: auto;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
}

.noti-content {
    color: white;
    display: inline-block;
    max-height: 75px;
}

.noti-name {
    margin-top: 1em;
    margin-left: 0.5em;
    font-size: 14px;
    max-width: 228px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.noti-comment {
    margin-left: 0.5em;
    font-size: 12px;
    max-width: 228px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.noti-dt {
    margin-left: 0.7em;
    font-size: 10px;
    line-height: 30%;
}

.right-most {
    float: right;
    margin-top: 0.9em;
    margin-right: 0.5em;
    width: auto;
    height: 40px;
    max-width: auto;
    max-height: 40px;
    display: inline-block;
}