/*
body{
	background-color: rgb(236, 236, 236);;
}*/
.subscribe-card{
	border-bottom: 1px solid #ccc;
	padding: 15px 0px 15px 0px;
	background-color: white;
	/*margin: 0px 50px 0px 50px;*/
}
.subscribe-user{
	margin-top: 3%;
}
.text-middle{
	vertical-align: middle;
}
.subscribe-img{
	float:left;
	padding-right: 15px;
}
.subscribe-width{
	min-width:200px;
}
.subscribe-imgcard{
	width:250px;
	height: 150px;
	border: 1px solid black;
}
.subscribe-imguser{
	width:50px;
	height:50px;
	margin-right: 10px;
}
.subscribe-fontdate{
	font-size: 12px;
	color: darkgray;
	margin-top: 15px;
}