/*.App {
  background-color: #0A121A;
  text-align: center;
  color: white;
  min-height: 100vh;
  font-family: 'Noto Sans', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

/***********Nav.js***********/
.navbar .imgHeadhome{
  width: 25px;
  height: 25px;
}
.navbar .navehomebrand{
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-dark .navbar-icon-menu {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    /*border-color: rgba(255,255,255,.1);*/
}
.navbar-icon-menu {
    width: 2.5em;
    height: 2em;
    font-size: 1.25rem;
    line-height: 1;
    background: transparent no-repeat center center;
    background-size: 24px 24px;
    border: 0px;
    border-radius: .25rem;
}
/***********Nav.js***********/

/******Modal********/
.ModalComment .skylight-close-button{
    right: -18px !important;
    top: -34px !important;
}
.Modalcontent{
  max-height:calc(100vh - 8%);
  overflow-y: auto;
  backgroundColor:#CCCCD4;
}
/******Modal********/
/**********CommentBox*************/
.CommentBoxContent{
  max-height:calc(100vh - 8%);
  overflow-y: auto;
}
.CommentCardHeader{
  font-size: 0.6em;
}
.CommentCard{
  margin-top: 5px;
}
.mediaCommentCard{
  padding-left:25px;
  padding-right:25px;
}
/**********CommentBox*************/
