button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    appearance: none;
    background-color: #FFF;
    border: 0;
    border-radius: 3px;
    color: #aaa;
    cursor: pointer;
    display: inline-block;
    font-family: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    line-height: 1;
    padding: 0.75em 1.5em;
    text-align: center;
    text-decoration: none;
    transition: background-color 150ms ease;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    background-color: #ddd;
    color: #aaa;
}

button:disabled,
input[type="button"]:disabled,
input[type="reset"]:disabled,
input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

button:disabled:hover,
input[type="button"]:disabled:hover,
input[type="reset"]:disabled:hover,
input[type="submit"]:disabled:hover {
    background-color: #ddd;
}

fieldset {
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
}

legend {
    font-weight: 600;
    margin-bottom: 0.375em;
    padding: 0;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.375em;
}

input,
select,
textarea {
    display: block;
    font-family: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;
    font-size: 1em;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input:not([type]),
textarea {
    appearance: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-bottom: 0.75em;
    padding: 0.5em;
    transition: border-color 150ms ease;
    width: 100%;
}

input[type="color"]:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="email"]:hover,
input[type="month"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover,
input[type="time"]:hover,
input[type="url"]:hover,
input[type="week"]:hover,
input:not([type]):hover,
textarea:hover {
    border-color: #b1b1b1;
}

input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
input:not([type]):focus,
textarea:focus {
    border-color: #22B8F1;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(15, 174, 235, 0.7);
    outline: none;
}

input[type="color"]:disabled,
input[type="date"]:disabled,
input[type="datetime"]:disabled,
input[type="datetime-local"]:disabled,
input[type="email"]:disabled,
input[type="month"]:disabled,
input[type="number"]:disabled,
input[type="password"]:disabled,
input[type="search"]:disabled,
input[type="tel"]:disabled,
input[type="text"]:disabled,
input[type="time"]:disabled,
input[type="url"]:disabled,
input[type="week"]:disabled,
input:not([type]):disabled,
textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed;
}

input[type="color"]:disabled:hover,
input[type="date"]:disabled:hover,
input[type="datetime"]:disabled:hover,
input[type="datetime-local"]:disabled:hover,
input[type="email"]:disabled:hover,
input[type="month"]:disabled:hover,
input[type="number"]:disabled:hover,
input[type="password"]:disabled:hover,
input[type="search"]:disabled:hover,
input[type="tel"]:disabled:hover,
input[type="text"]:disabled:hover,
input[type="time"]:disabled:hover,
input[type="url"]:disabled:hover,
input[type="week"]:disabled:hover,
input:not([type]):disabled:hover,
textarea:disabled:hover {
    border: 1px solid #ddd;
}

input[type="color"]::placeholder,
input[type="date"]::placeholder,
input[type="datetime"]::placeholder,
input[type="datetime-local"]::placeholder,
input[type="email"]::placeholder,
input[type="month"]::placeholder,
input[type="number"]::placeholder,
input[type="password"]::placeholder,
input[type="search"]::placeholder,
input[type="tel"]::placeholder,
input[type="text"]::placeholder,
input[type="time"]::placeholder,
input[type="url"]::placeholder,
input[type="week"]::placeholder,
input:not([type])::placeholder,
textarea::placeholder {
    color: #858585;
}

textarea {
    resize: vertical;
}

[type="checkbox"],
[type="radio"] {
    display: inline;
    margin-right: 0.375em;
}

[type="file"] {
    margin-bottom: 0.75em;
    width: 100%;
}

select {
    margin-bottom: 0.75em;
    width: 100%;
}

.btn {
    background: #428bca;
    border: #357ebd solid 1px;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    min-width: 60px;
    position: relative;
    transition: color .1s ease;
    /* top: 40em;*/
}

.btn:hover {
    background: #357ebd;
}

.btn.btn-big {
    font-size: 18px;
    padding: 15px 20px;
    min-width: 100px;
}

.btn-close {
    color: #aaaaaa;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: 0;
}

.btn-close:hover {
    color: #919191;
}

.btn-success{
    
    border-radius: 3px;    
    display: inline-block;
    font-size: 14px;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    min-width: 60px;
    position: relative;
    transition: color .1s ease;
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
    /* top: 40em;*/
}

.btn-success:hover {  
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    min-width: 60px;
    position: relative;
    transition: color .1s ease;
    color: #fff;
    background-color: #449d44;
    border-color: #419641;
    /* top: 40em;*/
}

.modal:before {
    width: 80%;
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.modal:target:before {
    display: block;
}

.modal:target .modal-dialog {
    width: 80%;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    top: 20px;
    height: 90%;
    overflow: scroll;
    z-index: 5000;
}

.modal-dialog {
    background: #fefefe;
    border: #333333 solid 1px;
    border-radius: 5px;
    margin-left: 0px;
    position: fixed;
    left: 10%;
    top: -100%;
    z-index: 11;
    width: 400px;
    -webkit-transform: translate(0, -500%);
    -moz-transform: translate(0, -500%);
    -ms-transform: translate(0, -500%);
    -o-transform: translate(0, -500%);
    transform: translate(0, -500%);
    -webkit-transition: opacity 1s ease-in 0s, all 0.3s ease-out;
    -moz-transition: opacity 1s ease-in 0s, all 0.3s ease-out;
    transition: opacity 1s ease-in 0s, all 0.3s ease-out;
}

.modal-body {
    padding: 20px;
}

.modal-header,
.modal-footer {
    padding: 10px 20px;
    color: "black";
}

.modal-header h2 {
    font-size: 20px;
}

.modal-footer {
    text-align: right;
}


/*ADDED TO STOP SCROLLING TO TOP*/

#close {
    display: none;
}

.button-signup {
    cursor: pointer;
    display: inline-block;
    outline: none;
    padding: 10px 16px;
    position: relative;
}

.button-signup img {
    height: 1.3em;
}

.login-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.login-container::after {
    clear: both;
    content: "";
    display: block;
}

.login-container .left-container {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    height: 100vh;
    display: block;
}

.login-container .left-container:last-child {
    margin-right: 0;
}

.login-container .right-container {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    padding: 20px;
}

.login-container .right-container:last-child {
    margin-right:
}

edit {}

.btn-edit {}

.p-edit {
    text-align: right;
    /*background: #F00;*/
}

.p-edit::parent {
    background: #F00;
}


/*.elem1 {padding: 10px 16px;font-size: 18px;line-height: 1.33;border-radius: 6px;}*/

html {
    box-sizing: border-box;
    font-size: 11px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.flex-boxes {
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    animation: fadeIn 3s;
    align-items: stretch;
    clear: both;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.flex-boxes::after {
    clear: both;
    content: "";
    display: block;
}

.flex-boxes .flex-box {
    width: 100%;
    align-self: stretch;
   /* background: #f7f7f7;
    border-radius: 3px;
    box-shadow: inset 0 0 1px #DDD, 0 2px 4px #e6e6e6;*/
    display: block;
    flex: 2 2 15em;
    margin: 0px;
    padding: 2em 2em 3em 2em;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
/*
.flex-boxes .flex-box:nth-child(1) {
    border-top: 6px solid #4ea500;
}

.flex-boxes .flex-box:nth-child(1):focus,
.flex-boxes .flex-box:nth-child(1):hover {
    background-color: rgba(78, 165, 0, 0.1);
}

.flex-boxes .flex-box:nth-child(2) {
    border-top: 6px solid #72BFBF;
}

.flex-boxes .flex-box:nth-child(2):focus,
.flex-boxes .flex-box:nth-child(2):hover {
    background-color: rgba(114, 191, 191, 0.1);
}

.flex-boxes .flex-box:nth-child(3) {
    border-top: 6px solid #92B1E3;
}

.flex-boxes .flex-box:nth-child(3):focus,
.flex-boxes .flex-box:nth-child(3):hover {
    background-color: rgba(146, 177, 227, 0.1);
}

.flex-boxes .flex-box:nth-child(4) {
    border-top: 6px solid #E3D743;
}

.flex-boxes .flex-box:nth-child(4):focus,
.flex-boxes .flex-box:nth-child(4):hover {
    background-color: rgba(227, 215, 67, 0.1);
}

.flex-boxes .flex-box:nth-child(5) {
    border-top: 6px solid #CCC;
}

.flex-boxes .flex-box:nth-child(5):focus,
.flex-boxes .flex-box:nth-child(5):hover {
    background-color: rgba(204, 204, 204, 0.1);
}

.flex-boxes .flex-box:nth-child(6) {
    border-top: 6px solid #F6C05C;
}

.flex-boxes .flex-box:nth-child(6):focus,
.flex-boxes .flex-box:nth-child(6):hover {
    background-color: rgba(246, 192, 92, 0.1);
}*/
.page {
  padding: 0px;
}